@font-face{
 font-family:'handshake';
 src:url(fonts/HuiFontP29.ttf);
}
.body{
 background-image:url(images/back.jpg);
}
.input{
 position: center;
 align-item:center;
 background-image:url(images/sheet.png),url(images/back.jpg);
 background-repeat:no-repeat,repeat;
 background-position:center,right;
}
.unlock{
 display:none;
 position: center;
 align-item:center;
 padding:1.5em;
 background-image:url(images/unlockimage.jpeg);
 background-size:cover;
 background-position:center;
}
.link{
 display:none;
 font-size:3em;
}
a1{
font-size:30px;
}


input{
 position:center;
 text-align:center;
 fontsize:30;
}

input.timer{
width="40%";
height="10em";
}

input.answer{
font-size:3em;
font-family:handshake;
background-color:rgba(0,0,0,0);
border-color:#ffffff;
border-bottom:medium solid #000000;
}

input.asnbutton{
font-size:2em;
font-family:handshake;
background-color:#f2edda;
}

input.istrue{
font-size:3em;
font-family:handshake;
border:none;
background-color:rgba(0,0,0,0);
}

input.unlockcode{
font-size:4em;
color:#00ff00;
background-color:#230024;
border:ridge 10px #efefef;
}
input.unlockbutton{
font-size:3em;
color:#ffffff;
background-color:#333333;
border:groove 4px #404040;
}
