
.input{
 position: center;
 align-item:center;
 background-image:url(images/sheet.png),url(images/back.jpg);
 background-repeat:no-repeat,repeat;
 background-position:center,right;
}

input{
 position:center;
 text-align:center;
 fontsize:30;
}
